<?xml version="1.0"?>
<config>
    <modules>
        <LCB_DisablePurchase>
            <version>1.0.0</version>
        </LCB_DisablePurchase>
    </modules>
    <global>
        <helpers>
            <lcb_disablepurchase>
                <class>LCB_DisablePurchase_Helper</class>
            </lcb_disablepurchase>
        </helpers>
        <models>
            <lcb_disablepurchase>
                <class>LCB_DisablePurchase_Model</class>
            </lcb_disablepurchase>
        </models>
        <events>
            <catalog_product_is_salable_after>
                <observers>
                    <disablepurchase_catalog_product_is_salable_after_handler>
                        <type>model</type>
                        <class>lcb_disablepurchase/observer</class>
                        <method>isSalable</method>
                    </disablepurchase_catalog_product_is_salable_after_handler>
                </observers>
            </catalog_product_is_salable_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>LCB_DisablePurchase.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>LCB_DisablePurchase.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>
</config> 