<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <catalog translate="label">
            <groups>
                <purchase translate="label" module="lcb_disablepurchase">
                    <label>Purchase</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <groups translate="label">
                            <label>Disable purchase for following groups</label>
                            <comment>Choose customer groups</comment>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>lcb_disablepurchase/groups</source_model>
                        </groups>
                    </fields>
                </purchase>
            </groups>
        </catalog>
    </sections>
</config>